* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
}

html {
    font-family: sans-serif;
    font-size: 62,5%;
    background-color: #f5f5f5;

}

.container {
    /* border: 2px solid #444; */
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* max-width: 26rem; */
}

.container-box {
    /* border: 2px solid #444; */
    display: flex;
    flex-direction: column;
    width: 26rem;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.container-box-img {
    /* border: 2px solid #444; */
    display: flex;
    align-items: center;
    /* width: 30rem; */
}

.container-box-data {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 20rem;
    height: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-box-data-sm {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 20rem;
    text-align: center;
}


.img-sobre {
    transform:translateX(-124%);
    margin-bottom: 2.5rem;
}

@media(max-width: 820px) {
    body {
        background-color: #ffffff;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-box {
        width: 90%;
        margin: 0.2rem;
    }
    

   .container-box-img {
       display: none;
   }
   
}



