* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
}

html {
    font-family: sans-serif;
    font-size: 62,5%;
    background-color: #f5f5f5;

}

.container {
    /* border: 2px solid #444; */
    display: flex;
    margin-top: 1rem;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.container-box {
    /* border: 2px solid #444; */
    display: flex;
    flex-direction: column;
    width: 26rem;
    padding: 2rem 2rem;
    justify-content: space-between;
}

.container-box-data {
    border: 1px solid #ccc;
    background-color: #fff;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-box-data-sm {
    border: 1px solid #ccc;
    background-color: #fff;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box-img {
    /* border: 2px solid #444; */
    display: flex;
    align-items: center;
    width: 30rem;
}

.img-sobre {
    transform:translateX(-124%);
    margin-bottom: 2.5rem;
}





