* {
  margin: 0;
  padding: 0;

}

section {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

  }
  
  .example-label {
    display: flex;
    flex: 1 1 auto;

    flex-direction: row;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: flex;
    width: 80rem;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  #buttonAdd {
    display: flex;
    margin-left: auto;

  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  
  